{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="col-sm-6 offset-sm-3"><h1 class="text-center">ION Motors</h1></div>
    <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <div class="jumbotron" style="background-color:white">
        Welcome to the future of safe transportation - ION Motors. Here you can start
        your voyage to explore new frontiers and boldly go where you have not gone before. 
        Sign up for an account to pre-select your auto options.
      </div>
    </div>
  </div>
{% endblock %}